<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Test Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="test.css" />
  <script src="test.js"></script>
</head>

<body>
  <button>Yes!</button>
  <button class="ok">OK</button>
  <button class="cancel">Cancel</button>

  <div class="red">
    Red text
    <hr>
  </div>
  <label for="name">Your username:</label>
  <input type="text" name="name">
  <div class="callout">balabalabalabala</div>

  <div class="all-center">
    <p>This is center.</p>
    <p>blablabla</p>
  </div>

  <div class="alpha-backgroud">
    <div class="content-text">
      <p>Hello!</p>
      <p>World!</p>
    </div>
  </div>
</body>

</html>